<%= turbo_frame_tag "new_page" do %>
  <br> <br> <br>
  <div class="container max-w-screen-lg mx-auto px-5">
  <a href="<%#=admin_add_request_path%>">
    <span class="btn btn-success btn-lg">
      &nbsp; <i class="fa fa-plus"></i> Css University
    </span>
  </a>
</div><br>
  <div class="container max-w-screen-lg mx-auto bg-white p-3 rounded shadow">
    <div class="row col-xl-12">
      <% if @coures_ug.any? %>
        <% @coures_ug.each_slice(2) do |course| %>
          <div class="col-lg-6">
            <% course.each do |cat| %><br>
              <a href="#">
                <div class="form-group">
                  <div class="form-control rounded text-center">
                    <%= cat.course_name %>
                  </div>
                </div>
              </a>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="flex justify-center items-center mt-8">
          <div class="text-center">
            <img src="no_records_image.png" alt="No records found" class="w-32 h-32 mx-auto mb-4">
            <p class="text-gray-500">No records found.</p>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>



