    <%= turbo_frame_tag "new_message", target: "_top" do %>

<div class="col-lg-10 ml-64 mr-5 mt-5">
  <div class="card mt-4 mr-4">
    <div class="card-body flex justify-between">
      <h5 class="text-lg font-bold">Add Category  / <a href="<%#=admin_category_index_path%>">Category List</a></h5>
      <div class="font-bold">
      </div>
    </div>
  </div>

</div>
<div class="ml-80">
  <div class="md:grid md:grid-cols-3 md:gap-6 ml-20">
    
    <div class="mt-5 md:mt-0 md:col-span-2">
      <form action="/admin/sub_category/program_offer/create" method="POST">
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">

            <div class="col-span-6 sm:col-span-3">
                <label for="street_address" class="block text-sm font-bold text-gray-700">Category</label>
                <select id="country" name="sub_category_id" autocomplete="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                <%SubCategory.all.each do |cat|%>

                <option value="<%=cat.id%>"><%=cat.sub_title%></option> <%end%>
                </select>
               
                </div><br>
              <div class="col-span-6">
                <label for="street_address" class="block text-sm font-bold text-gray-700">Title</label>
                <input type="text" name="title" id="street_address" autocomplete="street-address" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Enter Title">
              </div><br>

              <div class="col-span-6">
                <label for="color" class="block text-sm font-bold text-gray-700">Color</label>
                <select name="color" id="color" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  <option value="red-300">Red-300</option>
                  <option value="red-700">Red-700</option>
                  <option value="yellow-400">Yellow-400</option>
                  <option value="yellow-700">Yellow-700</option>
                  <option value="green-400">Green-400</option>
                  <option value="green-800">green-800</option>
                  <option value="blue-700">Blue-700</option>
                  <option value="purple-700">Purple-700</option>
                  <option value="purple-900">Purple-900</option>
                  <option value="pink-300">Pink-300</option>
                  <option value="pink-700">Pink-700</option>
                  <option value="pink-900">Pink-900</option>
                  <option value="pink-300">Pink-300</option>
                  <option value="pink-300">Pink-300</option>
                  <option value="pink-300">Pink-300</option>

                  <option value="pink-300">Pink-300</option>


                  <!-- Add more color options as needed -->
                </select>
              </div>

          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<%end%>
