
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      
    </div>
    <ul class="nav navbar-top-links navbar float-left">
      <nav class="mr-60" >
        <div class="sidebar-button" style="margin-right: 1000px;">
          <i class='bx bx-menu sidebarBtn'></i>
        </div>
        
      </nav>
      
   
      
      <li style="padding: 20px">
        <span class="m-r-sm text-muted welcome-message">Logout</span>
      </li>
      
      
    </ul>
  </nav>
